body {
  background-color: rgb(221, 241, 248);
}

h1 {
  text-align: center;
}

a:link {
  color: rgb(36, 124, 255);
}

a:visited {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

a:hover {
  color: rgb(59, 59, 59);
  text-decoration: none;
}

.default-link:link,
.default-link:visited,
.default-link:hover,
.default-link:active{
  color: revert;
  text-decoration: revert;
}

div.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: auto;
    max-height: auto;
    margin: 0 auto;
  }

div.gallery-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #d4d4d4;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 10px;
}

.gallery-item img {
  height: 100%;
  width: 100%;
  display: block;
}

div.gallery-item canvas {
  width: auto;
  height: auto;
  display: block;
  margin: 0 auto;
}

div.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 300px;
}

div.image-container {
  max-width: 90%;
  max-height: 90%;
  text-align: center;
  vertical-align: middle;
}

#canvas {
  max-width: 700px;
  max-height: 700px;
  display: block;
  margin: 45px auto;
  border: 2px solid #fafafa;
}

.image-gradient {
  width: 400px;
  height: 250px;
  background-image: 
    linear-gradient(rgba(110, 44, 44, 0.5), rgba(207, 199, 199, 0.5)),
    url(style);                                   /* image */
  background-size: cover;
  background-position: center;
}

.image-gradient img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

div.controls {
  width: 40%;
  height: 30%;
  text-align: center;
  vertical-align: middle;
  background-color: lightblue;
  padding: 10px;
  border: 5px outset red;
}

.skewon.active {
  background-color: green;
}

.gradientToggle.active {
  background-color: green;
}

* {
  box-sizing: border-box;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}