{% extends "layout.html" %}

{% block body %}
{% if name %}

    <div>
        <a id="imageLink" href="#">
            <img src="{{ image }}" alt="" class="center" id="unsplashImage">
        </a>
    </div>


    <div class="controls">
        <label for="rotate">Rotate: </label>
        <button onclick="applyRotation()">Apply Rotation</button>
        <div>
        <label for="brightness">Brightness: </label>
        <input type="range" min="0"
                max="200" value="100"
                class="slider"
                id="brightnessSlider">
        <button onclick="resetBrightness()">Reset</button>
        </div>
        <button onclick="saveMedia()">Save Image</button>
    </div>

    <script>
        let currentRotation = 0;
        let brightnessValue = 100;
        function applyRotation() {
            const image = document.getElementById("unsplashImage");
            currentRotation += 90;
            image.style.transform = `rotate(${currentRotation}deg)`;
        }

        const bSlider = document.getElementById('brightnessSlider');
        const img = document.getElementById('unsplashImage');
        bSlider.addEventListener('input', function () {
            brightnessValue = this.value;
            img.style.filter = `brightness(${brightnessValue}%)`;
        });
        function resetBrightness() {
            brightnessValue = 100;
            bSlider.value = 100;
            img.style.filter = `brightness(${brightnessValue}%)`;
        }
        function saveMedia() {
            fetch('/save_media', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ rotation: currentRotation, brightness: brightnessValue }),
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                // Optionally, handle any response data (e.g., show success message)
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }
    </script>

<footer>
    You are logged in as {{ name }}. 
    <a href="/logout">Log out</a>.
</footer>
{% else %}
<h1>You are not logged in.</h1> <a href="/login">Log in</a>.
{% endif %}

{% endblock %}