{% extends "layout.html" %}

{% block body %}
{% if name %}

<header>
    You are logged in as {{ name }}. 
    <a href="/logout">Log out</a>.
</header>
    <div class="container">
        <div class="image-container">
            <canvas id="canvas" height="500" width="300"></canvas>
            <img src="{{ image }}" id="unsplashImage" style="display:none;">
        </div>
        
        <div class="controls">
            <label for="rotate">Rotate: </label>
            <button onclick="applyRotation()">Apply Rotation</button><br>
            <label for="skew">Skew: </label>
            <button id="toggle" class="skewon" onclick="Skew()">Skew</button>
            <button onClick="skewLeft()">Left</button>
            <button onClick="skewRight()">Right</button><br>
            <label for="gradient">Gradient: </label>
            <button id="toggle2" class="gradientToggle" onClick="addGradient()">Gradient</button>
            <input type="color" id="primary" value="#e66465"/>
            <input type="color" id="secondary" value="#000000"/>
            <div>
            <label for="brightness" id="dynamicBrightness">Brightness: 100</label>
            <input type="range" min="0"
                    max="200" value="100"
                    class="slider"
                    id="brightnessSlider"
                    onchange="drawImageOnCanvas()">
            <button onclick="resetBrightness()">Reset</button>
            </div>
            <button onclick="saveMedia()">Save Image</button>
        </div>
    </div>
    <div>
        <a href="/library">
        <button>Your Library</button>
        </a>
    </div>

    <script>
        const canvas = document.getElementById('canvas');
        const context = canvas.getContext('2d');
        const image = document.getElementById("unsplashImage");

        let brightnessSlider = document.getElementById("brightnessSlider");
        let currentRotation = 0;
        let skewOn = false;
        let skewNumbers = "1, 0, 0, 1, 0, 0";
        let gradient = false;
        let color_1 = "#e66465";
        let color_2 = "#000000";

        const media_1 = {{ media | tojson if media else 'null' }};
        console.log(media_1);
        if (media_1) {
            brightnessSlider.value = media_1[4];
            currentRotation = media_1[3];
            skewNumbers = media_1[5];
            gradient = media_1[6];
            gradient_colors = media_1[7];
            color_1 = gradient_colors.slice(0, 7);
            color_2 = gradient_colors.slice(7);
        }

        const drawImageOnCanvas = function() {
            let new_width = image.naturalWidth;
            let new_height = image.naturalHeight;
            if (image.naturalHeight >= 1620 || image.naturalWidth >= 1100) {
            new_width = image.naturalWidth * 0.5;
            new_height = image.naturalHeight * 0.5;
            }
            console.log(new_height, new_width);

            canvas.width = new_width;
            canvas.height = new_height;
            context.filter = "brightness(" + brightnessSlider.value + "%) ";
            canvas.style.transform = "rotate(" + currentRotation + "deg) " +
            "matrix(" + skewNumbers + ") ";
            context.drawImage(image, 0, 0, new_width, new_height);

            if (gradient == true) {
                const gradient = context.createLinearGradient(0, 0, 0, canvas.height);
                gradient.addColorStop(0, color_1);   
                gradient.addColorStop(1, color_2);
                context.globalCompositeOperation = 'overlay';
                context.fillStyle = gradient;
                context.fillRect(0, 0, canvas.width, canvas.height);                   
            }
        };

        if (image.complete) {
            drawImageOnCanvas();
        } else {
            image.onload = drawImageOnCanvas;
        }

        function applyRotation() {
            if(currentRotation == 360){
                currentRotation = 0
            }
            currentRotation += 90;
            drawImageOnCanvas();
        }
        function Skew() {
            const btn = document.getElementById('toggle');
            btn.classList.toggle('active');

            if (skewOn == false) {
            skewNumbers = "1, 0.2, 0.2, 1, 20, 0";
            drawImageOnCanvas();
            skewOn = true;
            } else {
                skewNumbers = "1, 0, 0, 1, 0, 0";
                drawImageOnCanvas();
                skewOn = false;
            }
        }

        function skewLeft() {
            if ( skewOn = true ) {
            skewNumbers = "1, 0.2, 0.2, 1, 20, 0";
            drawImageOnCanvas();
            }
        }

        function skewRight() {
        if ( skewOn = true ) {
            skewNumbers = "1, -0.2, -0.2, 1, 20, 0";
            drawImageOnCanvas();
        }
        }

        function addGradient() {
            const btn = document.getElementById('toggle2');
            btn.classList.toggle('active');

            if (gradient == false){
            gradient = true;
            primary.addEventListener("input", function () {
                color_1 = this.value;
                drawImageOnCanvas();
            })
            secondary.addEventListener("input", function () {
                color_2 = this.value;
                drawImageOnCanvas();
            })
            drawImageOnCanvas();
            } else {
                gradient = false;
                drawImageOnCanvas();
            }
        }

        brightnessSlider.addEventListener('input', function () {
            document.getElementById("dynamicBrightness").innerText = "Brightness: " + brightnessSlider.value;
        });

        function resetBrightness() {
            brightnessSlider.value = 100;
            document.getElementById("dynamicBrightness").innerText = "Brightness: " + brightnessSlider.value;
            drawImageOnCanvas();
        }

        brightnessSlider.dispatchEvent(new Event('input')); // trigger brightness slider to display correct brightness

        function saveMedia() {
            fetch('/save_media', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ rotation: currentRotation, 
                    brightness: brightnessSlider.value,
                    skew: skewNumbers,
                    gradient: gradient,
                    gradient_colors: color_1+color_2 }),
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                // Optionally, handle any response data (e.g., show success message)
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }
    </script>

{% else %}
<h1>You are not logged in.</h1> <a href="/login">Log in</a>.
{% endif %}

{% endblock %}