{% extends "layout.html" %}

{% block body %}
{% if name %}

<header>
    You are logged in as {{ name }}. 
    <a href="/logout">Log out</a>.
</header>
    <div class="container">
        <div class="image-container">
            <canvas id="canvas" height="1000" width="600"></canvas>
            <img src="{{ image }}" id="unsplashImage" style="display:none;">
        </div>


        <div class="controls">
            <label for="rotate">Rotate: </label>
            <button onclick="applyRotation()">Apply Rotation</button><br>
            <label for="skew">Skew: </label>
            <button onClick="applySkew()">Skew left</button>
            <button onClick="applySkew()">Skew right</button><br>
            <label for="gradient">Gradient: </label>
            <button onClick="addGradient()">Gradient</button>
            <div>
            <label for="brightness">Brightness: </label>
            <input type="range" min="0"
                    max="200" value="100"
                    class="slider"
                    id="brightnessSlider">
            <button onclick="resetBrightness()">Reset</button>
            </div>
            <button onclick="saveMedia()">Save Image</button>
        </div>
    </div>

    <script>
        const canvas = document.getElementById('canvas');
        const context = canvas.getContext('2d');
        const image = document.getElementById("unsplashImage");

        const drawImageOnCanvas = function() {
            let new_width = image.naturalWidth;
            let new_height = image.naturalHeight;
            if (image.naturalHeight >= 1620 || image.naturalWidth >= 1000) {
            new_width = image.naturalWidth * 0.5;
            new_height = image.naturalHeight * 0.5;
            }
            canvas.width = new_width;
            canvas.height = new_height;
            console.log(new_height)
            context.drawImage(image, 0, 0, new_width, new_height);
        };

        if (image.complete) {
            drawImageOnCanvas();
        } else {
            image.onload = drawImageOnCanvas;
        }

        let currentRotation = 0;
        let brightnessValue = 100;
        let skewRight = true;

        function applyRotation() {
            const image = document.getElementById("unsplashImage");
            currentRotation += 90;
            image.style.transform = `rotate(${currentRotation}deg)`;
        }
        function applySkew() {
            const image = document.getElementById("unsplashImage");
            if (skewRight == true) {
            image.style.transform = `matrix(1, 0.2, 0.2, 1, 20, 0) rotate(${currentRotation}deg)`;
            skewRight = false;
            } else {
            image.style.transform = `matrix(1, -0.2, -0.2, 1, 20, 0) rotate(${currentRotation}deg)`;
            skewRight = true;
            }
        }
        function addGradient() {
            const image = document.getElementById("unsplashImage");
            
        }

        const bSlider = document.getElementById('brightnessSlider');
        const img = document.getElementById('unsplashImage');
        bSlider.addEventListener('input', function () {
            brightnessValue = this.value;
            img.style.filter = `brightness(${brightnessValue}%)`;
        });
        function resetBrightness() {
            brightnessValue = 100;
            bSlider.value = 100;
            img.style.filter = `brightness(${brightnessValue}%)`;
            img.style.transform = `rotate(${currentRotation - currentRotation}deg)`;
        }
        function saveMedia() {
            fetch('/save_media', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ rotation: currentRotation, brightness: brightnessValue }),
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                // Optionally, handle any response data (e.g., show success message)
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }
    </script>

{% else %}
<h1>You are not logged in.</h1> <a href="/login">Log in</a>.
{% endif %}

{% endblock %}