{% extends "layout.html" %}

{% block body %}
    {% if name %}
    <div class="gallery">
        <div class="gallery-item">
                <a id="imageLink" href="#">
                    <img alt="" id="unsplashImage">
                </a>
        </div>
        <div class="gallery-item">
                <a id="imageLink" href="#">
                    <img alt="" id="unsplashImage2">
                </a>
        </div>
        <div class="gallery-item">
                <a id="imageLink" href="#">
                    <img alt="" id="unsplashImage3">
                </a>
        </div>
        <div class="gallery-item">
                <a id="imageLink" href="#">
                    <img alt="" id="unsplashImage4">
                </a>
        </div>
        <div class="gallery-item">
                <a id="imageLink" href="#">
                    <img alt="" id="unsplashImage5">
                </a>
        </div>
        <div class="gallery-item">
                <a id="imageLink" href="#">
                    <img alt="" id="unsplashImage6">
                </a>
        </div>
    </div>

        <script>
            let clientID = "hp-n5d8W2_nK0fG91scJv4G9dGCGlxF_7VKonhj0TX8";
            let endpoint = `https://api.unsplash.com/photos/random/?count=6&client_id=${clientID}`;
            let imageLink = document.querySelector("#imageLink");
            let imageElements = [ 
            document.querySelector("#unsplashImage"),
            document.querySelector("#unsplashImage2"),
            document.querySelector("#unsplashImage3"),
            document.querySelector("#unsplashImage4"),
            document.querySelector("#unsplashImage5"),
            document.querySelector("#unsplashImage6")
            ];

            function navigateTo(routeUrl) {
                window.location.href = routeUrl;  // Navigate to the provided URL
            }

            // fetch images from Unsplash API
            fetch(endpoint)
                .then(function (response) {
                    return response.json();
                })
                .then(function (jsonData) {
                    imageElements.forEach(function (imageElement, index) {
                        imageElement.src = jsonData[index].urls.regular;

                        imageElement.onclick = function() {
                            let editUrl = "/edit?image_url="+ encodeURIComponent(jsonData[index].urls.regular);
                            navigateTo(editUrl);
                        };
                    });
                })
                .catch(function (error) {
                    console.log("Error: " + error);
                })
        </script>

        <footer>
            You are logged in as {{ name }}. 
            <a href="/logout">Log out</a>.
        </footer>
        
    {% else %}
        <h1>You are not logged in.</h1> <a href="/login">Log in</a>.
    {% endif %}

{% endblock %}