{% extends "layout.html" %}

{% block body %}
{% if name %}

<header>
    <h1>Your Library</h1>
    You are logged in as {{ name }}. 
    <a href="/logout" class="default-link">Log out</a>.
</header>

<script>
    function drawImageOnCanvas(canvasID, imageID, brightnessSlider, currentRotation, skewNumbers, gradient, gradient_colors) {
        const canvas = document.getElementById(canvasID);
        const context = canvas.getContext('2d');
        const image = document.getElementById(imageID);

        var new_width = image.naturalWidth;
        var new_height = image.naturalHeight;
        if (image.naturalHeight >= 1620 || image.naturalWidth >= 1000) {
        new_width = image.naturalWidth * 0.5;
        new_height = image.naturalHeight * 0.5;
        }
        canvas.width = new_width;
        canvas.height = new_height;
        context.filter = "brightness(" + brightnessSlider + "%) ";
        canvas.style.transform = "rotate(" + currentRotation + "deg) " +
        "matrix(" + skewNumbers + ") ";
        context.drawImage(image, 0, 0, canvas.width, canvas.height);
        // add gradient
        if (gradient == "True") {
        const gradient = context.createLinearGradient(0, 0, 0, canvas.height);
        color_1 = gradient_colors.slice(0, 7);
        color_2 = gradient_colors.slice(7);
        gradient.addColorStop(0, color_1);   
        gradient.addColorStop(1, color_2);
        context.globalCompositeOperation = 'overlay';
        context.fillStyle = gradient;
        context.fillRect(0, 0, canvas.width, canvas.height);     
        }
        
    };
    if (image.complete) {
        drawImageOnCanvas();
    } else {
        image.onload = drawImageOnCanvas;
    }
</script>

<div class="gallery">
{% for image in library %} 
<div class="gallery-item">
    <canvas id="canvas{{ image[0] }}" height="500" width="600"></canvas>
    <img src="{{ image[1] }}" id="image{{ image[0] }}" style="display:none;">
</div>
<script>
    var brightnessSlider = "{{ image[4] }}";
    var currentRotation = "{{ image[3] }}";
    var skewNumbers = "{{ image[5] }}";
    var gradient = "{{ image[6] }}";
    var gradient_colors = "{{ image[7] }}";
    console.log(typeof gradient);

    drawImageOnCanvas("canvas{{ image[0] }}", "image{{ image[0] }}", 
    brightnessSlider, currentRotation, skewNumbers, gradient, gradient_colors)
</script>

{% endfor %} 
</div>    

{% else %}
<h1>You are not logged in.</h1> <a href="/login">Log in</a>.
{% endif %}

{% endblock %}